<div id='vis-<%= id %>'></div>
<script>
 require.config({paths: {
   Nyaplot: "https://cdn.rawgit.com/domitry/Nyaplotjs/a885e2d919adeb6919bf256fd078ea36b052f2e7/release/nyaplot"
 }});

 require(["Nyaplot"], function(Nyaplot){
   <% if to_png == true  %>
   Nyaplot.core.to_png('#vis-<%= id %>', <%= model %>);
   <% else %>
   Nyaplot.core.parse('#vis-<%= id %>', <%= model %>);
   <% end  %>
 });
</script>
